[Unit]
Description=Pi Midi Startup Service
# Note: Also use ExecStartPre to make sure network is up
After=network-online.target
[Service]
WorkingDirectory=/home/pi/
User=pi
Type=idle
# Use ExecStartPre to make sure network can connect before running python application
ExecStartPre=/bin/sh -c 'until ping -c1 google.com; do sleep 1; done;'
ExecStart=/usr/bin/python /home/pi/pimidi/pimidi.py

[Install]
WantedBy=multi-user.target

# 
# Steps to enable the service
# Add pimidi.service to the /lib/systemd/system/ folder
# sudo chmod 644 /lib/systemd/system/pimidi.service
# sudo systemctl enable pimidi.service
# sudo systemctl daemon-reload
