[Unit]
Description=PiMidi Webservice Startup (Runs Uvicorn)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
Group=pi  
WorkingDirectory=/home/pi/pimidi
ExecStart=/home/pi/.local/bin/uvicorn \
        --host pimidi.home web:app

[Install]
WantedBy=multi-user.target
